{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	<section class='row center before-after'>
	 	<div class='row-inner'>
	 		<div class='col 12'>
	 		 	<div class='col-inner'>
	 		 		{{ ui.p('Drag the white bar to comapare the before/after images.', 'bottom') }}
					{% for item in page.get_field('image') %}
						<div class="item-wrapper">
							<div style="display: none;">
								<img src="{{ TimberImage(item.before).src }}" alt="Before">
							</div>
							<div>
								<img src="{{ TimberImage(item.after).src }}" alt="After">
							</div>
						</div>
					{% else %}
						{{ ui.h3('There are no items right now.') }}
					{% endfor %}
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}
