// Variables Style Sheet
/* Colours */
$color1: #000000; //orange
$color-hover: #000000;
$color-active: #000000;

$color-p: #000000;
$text-gray: #A4A3A6;
$white: #FFFFFF;
$gray: #E5E5E5;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.16);

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

$standard: 200px;

$p-space: 3rem;

//transitions
$transition: 0.3s ease-in-out;
$transition-slow: 0.6s ease-in-out;
$transition-slower: 0.9s ease-in-out;

// border thickness
$border-width: 2px;

// common device break points
$desktop-break: 1920px;
$desktop-break-med: 1710px;
$desktop-break-sml: 1550px;
$laptop-break: 1440px;
$laptop-break-sml: 1250px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 650px;
$mobile-break-sml: 340px;