// Retouching Style Sheet
.row {
    &.retouching {
        padding-left: ($col-vw / 4 * 3) !important;
        padding-right: ($col-vw / 4 * 3) !important;

        @include padding-top($col-vw / 4);
        @include padding-bottom($col-vw / 4);

        .row-inner {
            display: block;

            .retouched {
                margin: 0 ($col-vw / 4);
                margin-bottom: $col-vw / 2;
                cursor: pointer;
                box-shadow: 0 3px 9px rgba(255, 255, 255, 0.16);
                transition: $transition;

                &:hover {
                    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.1);
                }

                &.width-3 {
                    width: $col-vw * 3;
                }

                &.width-6-5 {
                    width: $col-vw * 6.5;
                }
            }
        }
    }
}