// Retouching Style Sheet
.row {
    &.retouching {
        padding-left: ($col-vw / 4 * 3) !important;
        padding-right: ($col-vw / 4 * 3) !important;

        @include padding-top($col-vw / 4);
        @include padding-bottom($col-vw / 4);

        @include breakpoint($mobile-break) {
            padding-top: $col-vw / 2;
        }


        .row-inner {
            display: block;

            .retouched {
                margin: 0 ($col-vw / 4);
                margin-bottom: $col-vw / 2;
                cursor: pointer;
                box-shadow: none !important;

                a {
                    &:hover {
                        .img-wrapper {
                            transform: scale(0.97);
                        }
                    }

                    .img-wrapper {
                        transition: $transition;
                    }
                }

                &.width-3 {
                    width: $col-vw * 3;

                    @include breakpoint($mobile-break) {
                        width: $col-vw * 3;
                        margin: 0 ($col-vw / 4);
                        margin-bottom: $col-vw / 2;
                        cursor: pointer;
                    }
                }

                &.width-6-5 {
                    width: $col-vw * 6.5;

                    @include breakpoint($mobile-break) {
                        width: $col-vw * 6.5;
                        margin: 0 ($col-vw / 4);
                        margin-bottom: $col-vw / 2;
                        cursor: pointer;
                    }
                }

                &:nth-child(4),
                &:nth-child(6) {
                    @include breakpoint($mobile-break) {
                        width: $col-vw * 3;
                        margin: 0 ($col-vw / 4);
                        margin-bottom: $col-vw / 2;
                    }
                }
            }
        }
    }

    &.credits {
        text-align: center;

        @include padding-bottom($col-vw);
    }
}