{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		{% include 'partial/splash-screen.twig' %}
		<main id="main">
			{% include 'partial/header.twig' %}
			<div class="content">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% include 'footer.twig' %}
		</main>
		<script type="text/javascript" src="{{ site.theme.link }}/dist/js/main.min.js"></script>
		{{ function('wp_footer') }}
	</body>
</html>
