{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body {# class="{{body_class}}" #} data-template="base.twig">
		{% include 'partial/splash-screen.twig' %}
		{# <div class="page-transition">
			<div class="img-wrapper">
				<img src="{{ site.theme.link }}/screenshot.jpg" alt="Page transition">
			</div>
		</div> #}
		<main id="main" >
			{% include 'partial/header.twig' %}
			<div class="mobile-menu">
				{% include "menu.twig" with {'menu': menu.get_items} %}
			</div>
			<div class="content {{body_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		</main>
		
	</body>
</html>
