{% import 'partial/ui.twig' as ui %}

<section class='row end'>
 	<div class='row-inner'>
 		<div class='lb-col'>
 		 	<div class='lb-col-inner'>
 		 		<a href="{{ site.url }}">{{ ui.h2("> See more projects ") }}</a>
 		 	</div>
 		</div>
 	</div>
</section>