{% include 'partial/ui.twig' %}

<section class='row page-title'>
 	<div class='row-inner'>
 		<div class='lb-col'>
 		 	<div class='lb-col-inner'>
 		 		{{ ui.p(role) }}
 		 	</div>
 		</div>
 	</div>
</section>