<section class='row splash'>
 	<div class='row-inner'>
 		<div class='col'>
 		 	<div class='col-inner'>
 		 		<h1 class="character-slide" data-character-slide="Dominic Gomes—">Dominic Gomes—</h1>
 		 		<h1 class="character-slide" data-character-slide="Select works in Graphic Design and Creative Retouching.">Select works in Graphic Design and Creative Retouching.</h1>
 		 	</div>
 		</div>
 	</div>
</section>